{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="col-md-3 offset-md-4 p-5 bg-white shadow-lg rounded">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {# Render form fields #}
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}

    {# Render non-field errors last #}
    <br>
    {% if form.non_field_errors %}
      <div class="nonFieldErrors text-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{buttonName}}">
  </form>
</div>