{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="col-md-3 offset-md-4 p-5 bg-white shadow-lg rounded">
    <form method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        {% comment %} <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <br> {% endcomment %}
        {% csrf_token %}

        {# Render form fields #}
        {% for field in form %}
        <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}

        {# Render non-field errors last #}
        <br>
        {% if form.non_field_errors %}
        <div class="nonFieldErrors text-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <form action="{% url 'register_page_1' %}" method="get">
        <button class="btn btn-lg btn-success btn-block"type="submit">Register</button>
    </form>
    <form action="{% url 'forgot_password_email' %}" method="get">
        <button class="btn btn-lg btn-warning btn-block"type="submit">Forgot Password</button>
    </form>

</div>
