{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% include 'navbar.html' %}
<!-- Body displaying inventory of fruitshop -->
<div class="col-md-7 offset-md-2 p-5 bg-white shadow-lg rounded">
  <div class="container">
    <div class="row">
      {% for fruit in fruits %}
        <div class="col-md-4">
          <div class="card">
            <img src="{{ fruit.image.url }}" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{ fruit.item_name }}</h5>
              <p class="card-text">{{ fruit.tagline }}</p>
              <p class="card-text">Price: {{ fruit.item_price }}</p>
              <form action="{% url 'add_to_cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="parameter" value="{{ fruit.item_name }}">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
              {% comment %} <a href="#" class="btn btn-primary">Add to Cart</a> {% endcomment %}
            </div>
          </div>
        </div>
  
        {% if forloop.counter|divisibleby:3 %}
          </div><br><div class="row">
        {% endif %}
  
      {% endfor %}
    </div>
  </div>
</div>
