<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Shopping cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <table class="table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th style="text-align: center;">Quantity</th>
              <th> </th>
              <th>Price</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% if username %}
              {% for item in cart %}
              <tr>
                <td>{{ item.name }}</td>
                <td style="text-align: center;">
                  {{ item.quantity }}
                </td>
                <td>
                  <form action="{% url 'remove_from_cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="parameter" value="{{ item.name }}">
                    <button type="submit" class="btn btn-danger"> - </button>
                  </form>
                </td>
                <td>₹ {{ item.price }}</td>
                <td>₹ {{ item.total }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Order Total</th>
                <td>₹ {{ cartTotal}}</td>
              </tr>
              {% endif %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{% url 'homepage' %}">FruitShop</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <!-- left links -->
      </ul>
  
      <ul class="navbar-nav">
        {% if username %}
        <li class="nav-item">
          <span class="navbar-text">
            Welcome {{ request.session.profile_user }}!
          </span>  
        </li>
        <li class="nav-item" style="margin-left: 10px;">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
            Cart | {{ totalOrders}}
          </button>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_settings' %}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
        {% if not username %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_view' %}">Log In</a>
          </li>
        {% endif %}
      </ul>

    </div>
  
</nav>