
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{% url 'homepage' %}">FruitShop</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <!-- left links -->
      </ul>
  
      <ul class="navbar-nav">
        {% if username %}
        <li class="nav-item">
          <span class="navbar-text">
            Welcome {{ username }}!
          </span>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_settings' %}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
        {% if not username %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_view' %}">Log In</a>
          </li>
        {% endif %}
      </ul>

    </div>
  
</nav>